<ion-header>
  <ion-toolbar>
    <ion-title>
      ตั้งเวลาที่ต้องการ *ยกเว้น{{tae}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align = "center">{{timeString}}</div>
<!-- ************* ตัวจับเวลา 1 *************** -->
<ion-card >
  <ion-row>
    <ion-col size="8">
      <ion-item lines="none">
        <ion-label>ตั้งเวลา 1</ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4" style="text-align: center; margin-top:auto;">
      <ion-item lines="none">
        <section title=".slideThree" >
         
        </section>
        <ion-toggle  [(ngModel)]="Sw_time1" (ionChange)="Sw_on1()"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5">
      <!-- --detail-icon-font-size:0px; -->
      <ion-item
        lines="none"
        
      >
        <ion-label>&nbsp;&nbsp;&nbsp;{{ setTimeStart1 }}</ion-label>
        <ion-datetime
          style="width:0px;height:0px;padding:0px;"
          pickerFormat="HH:mm"
          #setTimeStart1_1
          Attribute="backdrop-dismiss"
          displayFormat=" "
          (ionChange)="getTimeStart1(setTimeStart1_1.value)"
        ></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-item lines="none">
        <label style="font-size: 12px">ถึง</label>
      </ion-item>
    </ion-col>
    <ion-col size="5">
      <ion-item lines="none" style="text-align: center">
        <ion-label>&nbsp;&nbsp;&nbsp;{{ setTimeEnd1 }}</ion-label>
        <ion-datetime
          style="width:0px;height:0px;padding:0px;"
          pickerFormat="HH:mm"
          #setTimeEnd1_2
          displayFormat=" "
          (ionChange)="getTimeEnd1(setTimeEnd1_2.value)"
        ></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-card>
<!-- ************* ตัวจับเวลา 1 จบ *************** -->
<ion-card>
    <ion-row>
      <ion-col size="8">
        <ion-item lines="none">
          <ion-label>ตั้งเวลา 2</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" style="text-align: center; margin-top:auto;">
        <ion-item lines="none">
          <ion-toggle [(ngModel)]="Sw_time2" (ionChange)="Sw_on2()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-item
          lines="none"
          style="--detail-icon-font-size:0px;--padding-end:0px;text-align: center;"
        >
          <ion-label>&nbsp;&nbsp;&nbsp;{{ setTimeStart2 }}</ion-label>
          <ion-datetime
            style="width:0px;height:0px;padding:0px;"
            pickerFormat="HH:mm"
            #setTimeStart2_1
            displayFormat=" "
            (ionChange)="getTimeStart2  (setTimeStart2_1.value)"
          ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <label style="font-size: 12px">ถึง</label>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item lines="none" style="text-align: center">
          <ion-label>&nbsp;&nbsp;&nbsp;{{ setTimeEnd2 }}</ion-label>
          <ion-datetime
            style="width:0px;height:0px;padding:0px;"
            pickerFormat="HH:mm"
            #setTimeEnd2_2
            displayFormat=" "
            (ionChange)="getTimeEnd2(setTimeEnd2_2.value)"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- //////////////////////////3////////////////////////// -->
  <ion-card>
    <ion-row>
      <ion-col size="8">
        <ion-item lines="none">
          <ion-label>ตั้งเวลา 3</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" style="text-align: center; margin-top:auto;">
        <ion-item lines="none">
          <ion-toggle [(ngModel)]="Sw_time3" (ionChange)="Sw_on3()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-item
          lines="none"
          style="--detail-icon-font-size:0px;--padding-end:0px;text-align: center;"
        >
          <ion-label>&nbsp;&nbsp;&nbsp;{{ setTimeStart3 }}</ion-label>
          <ion-datetime
            style="width:0px;height:0px;padding:0px;"
            pickerFormat="HH:mm"
            #setTimeStart3_1
            displayFormat=" "
            (ionChange)="getTimeStart3  (setTimeStart3_1.value)"
          ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <label style="font-size: 12px">ถึง</label>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item lines="none" style="text-align: center">
          <ion-label>&nbsp;&nbsp;&nbsp;{{ setTimeEnd3 }}</ion-label>
          <ion-datetime
            style="width:0px;height:0px;padding:0px;"
            pickerFormat="HH:mm"
            #setTimeEnd3_2
            displayFormat=" "
            (ionChange)="getTimeEnd3(setTimeEnd3_2.value)"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- /////////////////////////////////////////////4 -->
  <ion-card>
    <ion-row>
      <ion-col size="8">
        <ion-item lines="none">
          <ion-label>ตั้งเวลา 4</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="4" style="text-align: center; margin-top:auto;">
        <ion-item lines="none">
          <ion-toggle [(ngModel)]="Sw_time4" (ionChange)="Sw_on4()"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <ion-item
          lines="none"
          style="--detail-icon-font-size:0px;--padding-end:0px;text-align: center;"
        >
          <ion-label>&nbsp;&nbsp;&nbsp;{{ setTimeStart4 }}</ion-label>
          <ion-datetime
            style="width:0px;height:0px;padding:0px;"
            pickerFormat="HH:mm"
            #setTimeStart4_1
            displayFormat=" "
            (ionChange)="getTimeStart4(setTimeStart4_1.value)"
          ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <label style="font-size: 12px">ถึง</label>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item lines="none" style="text-align: center">
          <ion-label>&nbsp;&nbsp;&nbsp;{{ setTimeEnd4 }}</ion-label>
          <ion-datetime
            style="width:0px;height:0px;padding:0px;"
            pickerFormat="HH:mm"
            #setTimeEnd4_2
            displayFormat=" "
            (ionChange)="getTimeEnd4(setTimeEnd4_2.value)"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
