
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
*{
  font-family: 'Sriracha', cursive;
}
.tae{
  background-image: url('https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/s960x960/51270156_231169164488304_8247917910903750656_o.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=i3Hy8ANtftAAX8kPUB3&_nc_ht=scontent-iad3-1.xx&_nc_tp=7&oh=66220e59431f4267fad936165ab0e980&oe=5E927185');

}
.font{
  font-size: 50px;
}