
<ion-header>
<h1 align="center">ระบบควบคุมความชื้น </h1> 
</ion-header>
<ion-content>
  
  <div align="center">
    {{status}}
    <h3><span style="color: red;">สถานะ :</span>   {{ Sw_time == true ? "เปิด" : "ปิด" }}</h3>
    <div align = "center">{{timeString}}</div>
    <ion-toggle align="right" color="success" [(ngModel)]="Sw_time" (ionChange)="Sw_on()"></ion-toggle>

<br><br><br>

<ngx-gauge 
           [value]="gaugeValue" 
           [label]="gaugeLabel"  
           [append]="gaugeAppendText"
           
           thick="20"
           foregroundColor="rgb(220, 155, 8)" 
           size="150"
           >
</ngx-gauge>
<ngx-gauge 
           [value]="tae1" 
           [label]="tae2"  
           [append]="tae3"
           foregroundColor="rgb(10, 107, 231)" 
           thick="20"
           size="150" >
</ngx-gauge>



<!-- 
<ion-item>
  <ion-toggle slot="start" name="apple" color="secondary" checked></ion-toggle>
  <ion-label>ช่วงที่ 2</ion-label>
  <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
</ion-item>
<ion-item>
  <ion-toggle slot="start" name="apple" color="secondary" checked></ion-toggle>
  <ion-label>ช่วงที่ 3</ion-label>
  <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
</ion-item>
<ion-item>
  <ion-toggle slot="start" name="apple" color="secondary" checked></ion-toggle>
  <ion-label>ช่วงที่ 4</ion-label>
  <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
</ion-item> -->



</div>
</ion-content> 