
.mac-grid-items {
    background: #eee;
    padding-bottom: 2rem;
    transition: .3s;
    cursor: pointer;
}
.got{
    border-radius: 9000px;
}
.mac-items-info  {
    margin-top: 1.5rem;
}
.photo{
    background: #eee;
    padding-bottom: 2rem;
    transition: .3s;
    cursor: pointer;
}