<ion-header>
  <ion-toolbar>
    <ion-title>
      ผู้จัดทำ
    </ion-title>
  </ion-toolbar>
</ion-header>
<div align="center" class="photo">
<!-- <h1>ผู้จัดทำ</h1> -->
<h2>นายกิตติพงษ์ ปลิงกระโทก </h2>
<h2>นายกฤษณะ จันทรวิจิตร</h2>
<h2>นายปฏิภาณ ลอยศักดิ์</h2>
</div>
<ion-content>
  <div align="center" class="mac-grid-items">
    <br><br>
        <img class="got" width="250px" height="250px" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/s960x960/51270156_231169164488304_8247917910903750656_o.jpg?_nc_cat=108&_nc_sid=85a577&_nc_ohc=i3Hy8ANtftAAX8kPUB3&_nc_ht=scontent-iad3-1.xx&_nc_tp=7&oh=66220e59431f4267fad936165ab0e980&oe=5E927185" alt="">
        
      
        <img class="got" width="250px" height="250px" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/p960x960/68476985_2512119902141951_5210003232234930176_o.jpg?_nc_cat=105&_nc_sid=7aed08&_nc_ohc=781QgtT_EIcAX9yu6kQ&_nc_ht=scontent-iad3-1.xx&_nc_tp=6&oh=6c385415afbc5aec3a5dda9250dcff43&oe=5E93197B" alt="">
         <img class="got" width="250px" height="250px" src="https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-1/c240.0.960.960a/p960x960/28423462_1613625228685826_1183857786260842419_o.jpg?_nc_cat=109&_nc_sid=dbb9e7&_nc_ohc=FVbEethMrMEAX9zpPY8&_nc_ht=scontent-iad3-1.xx&oh=535285c340cb9ede57d428c40c24d3f1&oe=5E931CEB" alt="">
        
    </div>
</ion-content>
